---
interface Props {
	title: string;
}

//const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>今日の宇宙（そら）模様 | 今日の宇宙を見上げてみよう。</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 96, 134, 207;
		--accent-light: 131, 139, 166;
		--accent-dark: 16, 27, 66;
		--accent-gradient01: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
      rgb(var(--accent-dark)) 30%,
			white 60%
		);
    --accent-color01: 14, 144, 171;
    --accent-color02: 0, 135, 164;
    --accent-color03: 11, 112, 144;
    --accent-color04: 10, 96, 123;
    --accent-color05: 0, 74, 104;
    --accent-gold01: 184, 170, 119;
    --accent-gradient02: linear-gradient(
			45deg,
			rgb(var(--accent-color01)),
			rgb(var(--accent-color02)) ,
      rgb(var(--accent-color05)) ,
			white 60%
		);
    --accent-gradient03: linear-gradient(
			45deg,
      rgb(var(--accent-color01)) ,
      rgb(var(--accent-gold01)) ,
			white 60%
		);
	}
	html {
		background: linear-gradient(rgba(var(--accent-color05), 95%), rgba(var(--accent-color01), 90%));
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
	}
  body {
    padding: 0;
    margin: 0;
  }
</style>
